                                                                                                                                                                                                                                                                                                                                                            
<f:form action="saveConstant" method="post" enctype="multipart/form-data" id="TypoScriptTemplateModuleController" name="editForm" class="ns-ext-form" pageType="22184356">
    <div class="d-sm-flex justify-content-sm-between align-items-sm-center ns-ext-submit-wrap sticky">
        <h4>{menuName}</h4>
        <div class="flashmessage"></div>
        <button class="btn btn-primary save" name="_savedok" form="TypoScriptTemplateModuleController"><em class="fa fa-save" aria-hidden="true"></em><f:translate key="save_changes" extensionName="ns_whatsapp" /></button>
        <input type="hidden" name="_savedok" value="1">
    </div>

    <f:if condition="{constant}!=''">
        <f:then>
            {constant->f:format.raw()}
        </f:then>
        <f:else>
            <p class="alert alert-warning"><f:translate key="noThemeConfiguration" /></p>
        </f:else>
    </f:if>
</f:form>
