services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Nitsan\NsWhatsapp\:
    resource: '../Classes/*'

  Nitsan\NsWhatsapp\Setup:
    tags:
      - name: event.listener
        identifier: 'ns-whatsapp'
        method: 'executeOnSignal'
        event: TYPO3\CMS\Core\Package\Event\AfterPackageActivationEvent  

  Nitsan\NsWhatsapp\Event\BackendUserLogin:
    tags:
      - name: event.listener
        identifier: 'ns-whatsapp-backend-login'
        method: 'dispatch'
        event: TYPO3\CMS\Core\Authentication\Event\AfterUserLoggedInEvent

  Nitsan\NsWhatsapp\Controller\NsConstantEditorController:
    public: true
    arguments:
      $moduleTemplateFactory: '@TYPO3\CMS\Backend\Template\ModuleTemplateFactory'
      $sysTemplateRepository: '@TYPO3\CMS\Core\TypoScript\IncludeTree\SysTemplateRepository'
      $treeBuilder: '@TYPO3\CMS\Core\TypoScript\IncludeTree\SysTemplateTreeBuilder'
      $treeTraverser: '@TYPO3\CMS\Core\TypoScript\IncludeTree\Traverser\IncludeTreeTraverser'
      $astTraverser: '@TYPO3\CMS\Core\TypoScript\AST\Traverser\AstTraverser'
      $astBuilder: '@TYPO3\CMS\Core\TypoScript\AST\AstBuilderInterface'
      $losslessTokenizer: '@TYPO3\CMS\Core\TypoScript\Tokenizer\LosslessTokenizer'