<f:asset.css identifier="17163596836">
.style1 {
    background-color: {whatsapp.bgcolor} !important;
    border: {whatsapp.bordercolor} {whatsapp.border}px solid !important;
    color: {whatsapp.textcolor} !important;
    }
    .style1:hover {
    background-color: {whatsapp.hbgcolor} !important;
    border: {whatsapp.hboredrcolor} {whatsapp.border}px solid !important;
    color: {whatsapp.htextcolor} !important;
	}
</f:asset.css>
<div class="ns-whatsapp-variant ns-whatsapp-variant--one fd">
    <f:link.external  class="ns-whatsapp-btn style1" uri="{urlConnection}chat.whatsapp.com/{settings.group_id}" target="_blank">{whatsapp.text}</f:link.external>
</div>